@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body {
    font-family: 'Play', sans-serif;
    margin: 0;
}

/* header styling */

h1 {
    font-size: 6rem;
    margin: 0;
}


header {
	color: #ffe0b2;
}

header > p {
	color: white;
}

header {
    display: block;
}

#top-header {
    background-image: url('https://images.unsplash.com/photo-1495291916458-c12f594151e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
}
  
.page-header {
	height: 70vh;
	background: center 25% / cover no-repeat;
}
.text-center {
    text-align: center;
}

.capital-text {
    text-transform: uppercase;
}

.vertical-center {
    position: relative;
    top: 80%;
}

.color-background {
    background-color: black;
}

/* navigation links */

nav {
	padding: 0.5rem;
}

nav > a {
	text-decoration: none;
	color: #ffe0b2;
	margin: 1rem;
    font-size: 110%;
}

nav > a:hover {
	color: silver;
}

.fa-solid {
    padding: 3px;
}

/* thesis */

#lifehack {
    margin: 40px 0;
    text-align: center;
    font-size: 280%;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 120%;
}

#history {
    margin: 40px 0;
    text-align: center;
    font-size: 280%;
}

#lifehacks1 {
    margin: 40px 0;
    text-align: center;
    font-size: 280%;
}

#about {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

/* lifehacks section and image */

#content1 h4 {
    font-size: 150%;
    text-decoration: underline;
    margin: 0 auto;
    width: 50%;

}

#content1 p {
    text-align: left;
    width: 50%;
    margin: 0 auto;
    padding: 10px 5px 30px;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* Contact Form */

#contact1 {
    margin: 40px 0;
    text-align: center;
    font-size: 280%;
}

.lifehack-contact-form {
    color: #795548;
    background-color: rgb(255 224 177);
    max-width: 400px;
    left: 10%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.lifehack-contact-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #795548;
    border-radius: 2px;
}

.text-input:hover{
    border-color: #f16c6b;
}

.send-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #795548;
    display: block;
    color: #fafafa;
}

.send-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

textarea {
    width: 100%;
}


/* footer */

footer{
    height: 150px;
}

.socials {
    text-align: center;

}

.socials li{
    display: inline;
}

.socials i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #795548;
}

/* Media Queries for small screen sizes from 950px wide and down */

@media screen and (max-width: 950px) {
    .vertical-center {
        top: 20%;
    }
}
